* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root{
  --azul:#3d64e6;
  --branco:#ffff;
  --azul-marinho:#222a43;
  --erro:#ff465a;
  --cinza:#5d6274;
  --box-shadow:#08154140;
  --card:#ffffff8a;
}
body {
  background-color: var(--card);
  overflow: hidden;
}
.container {
  background: var(--card);
  backdrop-filter: blur(13.3px);
  -webkit-backdrop-filter: blur(13.3px);
  width: 80vw;
  max-width: 37.5em;
  padding: 3em 2.5em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.62em;
  box-shadow: 0 1.25em 1.8em var(--box-shadow);
}
.search-wrapper {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1.25em;
}
.search-wrapper button {
  font-size: 1em;
  background-color: var(--azul);
  color: var(--branco);
  padding: 0.8em 0;
  border: none;
  border-radius: 1.5em;
  cursor: pointer;
  outline: none;
}
.search-wrapper button:hover{
  filter: brightness(0.9);
}
.search-wrapper input {
  font-size: 1em;
  padding: 0 0.62em;
  border: none;
  border-bottom: 2px solid var(--azul);
  outline: none;
  color: var(--azul-marinho);
  background: transparent;
}
#result {
  margin-top: 1.25em;
}
.container .flag-img {
  display: block;
  width: 25%;
  min-width: 7.5em;
  margin: 1.8em auto 1.2em auto;
}
.container h2 {
  font-weight: 600;
  color: var(--azul-marinho);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1.8em;
}
.data-wrapper {
  margin-bottom: 1em;
  letter-spacing: 0.3px;
}
.container h4 {
  display: inline;
  font-weight: 500;
  color: var(--azul-marinho);
}
.container span {
  color: var(--cinza);
}
.container h3 {
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
  color: var(--erro);
}

.popup .content {
  display: none;
  position: absolute;
  width: 335px;
  height: auto;
  top: -12rem;
  left:100%;
  margin: auto;
  background-color: var(--branco);
  border-radius: 0.62em;
  box-shadow: 0px 0px 9px 0px var(--box-shadow) ;
  z-index: 102;
  padding: 1.3rem;
}

.popup .content p {
  font-size: 15px;
  margin-bottom: 0;
  color: var(--azul-marinho);
}

.popup .content #btnClose {
  position: absolute;
  right: 0.5rem;
  top: 0.2rem;
  font-size: 1rem;
  font-weight: 800;
  color:var(--azul-marinho);
  cursor: pointer;
  background: transparent;
  border: none;
}
.popup .popup-text img{
  padding-left: .3rem;
}

@media (max-width:575px) {
  body{
    padding: 2rem 0;
  }
.container{
  width: 90vw;
  padding: 1em 1.5em;
}
.container .flag-img {
  margin: 0 auto;
}
.search-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25em;
}
.search-wrapper input{
  padding: 0;
}
.container h2{
  margin-bottom: 0;
}

.popup .content{
  left: 0;
  right: 0;
  top: -9rem;
}
}
@media (max-width:991px) {
  .popup .content{
    left: 0;
    right: 0;
  }
}